h1 {color: #a94064; display: flex; flex-direction:column; justify-content:center; align-items: center; max-width: 100%; }
h3 {color: #a94064;}
p {color: #a94064;}
body {background-color: #ffeff1;}
img:hover {scale: 1.2; transition: 1s;}